.bg {
  background-image: url("/citybg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  width: 1536px;
  margin: auto;
  min-height: inherit;
  display: flex;
  flex-direction: column;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  padding: 20px 20px 10px 20px;
  background: rgba(20, 20, 20, 0.1);
  border-radius: 5px;
}

.cinemas,
.movies {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.header {
  font-size: 2rem;
  font-weight: 700;
  color: var(--white);
}

.movies {
  justify-content: center;
  align-items: center;
}

@media (max-width: 1720px) {
  .container {
    width: 1536px;
  }
}

@media (max-width: 1536px) {
  .container {
    width: 1366px;
  }
}

@media (max-width: 1366px) {
  .container {
    width: 1280px;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 1024px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 864px;
  }
}

@media (max-width: 864px) {
  .container {
    width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 640px;
  }
}

@media (max-width: 640px) {
  .container {
    width: 475px;
  }
}
@media (max-width: 475px) {
  .container {
    width: 380px;
  }
}
